body {
    background-color: burlywood;
    opacity: 0.4;
    text-align: center; 
}

.intro-link {
    margin-left: 50px;
    margin-right: 50px;
}
.footer-links {
    padding: 20px;
}
hr {
    height: 5px;
    background-color: black;
    border-color: black;
}
a {
    color: black;
  }
a:visited {
color: black;
}
a:hover {
color: brown;
}
a:active {
color: brown;
}