body {
    background-color: burlywood;
    text-align: center;
}
h1 h2 {
    text-align: center;
    border: 10px solid black;
}
.about {
    border: solid black 2px;
    padding: 5px 0;
    max-width: 50%;
    margin: auto;
}
.tag {
    border: solid red;
    padding: 2px;
    margin: auto;
    max-width: 50%;
    border-end-end-radius: 90%;
    border-end-start-radius: 90%; 
}
a:visited {
    color: black;
}
a:hover {
    color: brown;
}
a:active {
    color: brown;
}
