<h1>Sadik Karout's Shinny Kangaroo ♠️ ITIS-3135 ♠️ Introduction</h1> 
<!--Allow the naming of sections of a website in decending order-->
<hr>
<nav>
    <!--This is the nav bar-->
    <a class="intro-link" href="./">Home</a>
    <a class="intro-link" href="introduction.html">Introduction</a>
    <a class="intro-link" href="contract.html">Contract</a>
    <a class="intro-link" href="project_overview.html">Project Overview</a>
    <a class="intro-link" href="agenticarc.com/" target="_blank">Client Project</a>
</nav>