<nav class="footer-links">
    <a href="https://www.codecademy.com/profiles/skarout1" target="_blank"></a>
</nav>
<p class="center">Page Built By <a href="https://webpages.charlotte.edu/skarout1/itis3135/sadikkaroutdesigns.com/"> Sadik Karout Designs</a> &copy; 2025, <a href="https://www.freecodecamp.org/certification/skarout1/javascript-algorithms-and-data-structures-v8">Certified in JS</a></p>                
<a id="validation-button-html">
    <img src="../images/htmlValidationButton.png" alt="html validation button">
</a>
<a id="validation-button-css">
    <img src="../images/cssValidationButton.png" alt="css validation button">
</a>